---
import type { Project } from '../types/project';

type Props = Project;

const { title, subtitle, content, image, link, tags, status, company, companyLink }: Props = Astro.props;

const svgs = import.meta.glob<{ default: any }>('/src/assets/*.svg', { eager: true });

const filename = image.split('/').pop();

const LogoComponent = filename ? svgs[`/src/assets/${filename}`]?.default : null;
---

<div class="card">
    <div class="card__header">
        <h2>{title}</h2>
        {company && <a href={companyLink} target="_blank">{company}</a>}
        <div class="card__header-subtitle">
            <p>{subtitle}</p>
            <span class:list={[
                "status-badge",
                { prod: status === 'production' }, 
                { mvp: status === 'mvp' }, 
                { dev: status === 'development' }, 
            ]}>{status}</span>
        </div>
    </div>
    <p class="content">{content}</p>
    <div class="logo">
        {LogoComponent && <LogoComponent />}
    </div>
    <div class="tags">
        {tags.map((tag: string) => (
            <span class="tag">{tag}</span>
        ))}
    </div>
    <a href={link} target="_blank">View Project_</a>
</div>

<style>
    .card {
        max-width: 400px;
        height: auto;
        border: 1px solid var(--ui-border);
        padding: 1rem;
        margin: 1rem;
        border-radius: var(--border-radius-2);
        background-color: var(--clr-white);
        color: var(--clr-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; 
        gap: 1rem;
    }

    .card h2 {
        font-size: var(--text-2xl);
        font-weight: 600;
        margin: 0;
    }

    .card a {
        width: fit-content;
    }

    .card__header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
    }

    .card__header-subtitle {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

    .status-badge {
        font-family: var(--ff-mono);
        font-size: var(--text-xs);
        border: 1px solid var(--ui-border);
        padding: 0.25rem 0.5rem;
        border-radius: var(--border-radius-3);
        color: var(--clr-black);
    }

    .prod {
        background-color: var(--clr-green-200);
        border: 1px solid var(--clr-green-500);
    }

    .mvp {
        background-color: var(--clr-amber-200);
        border: 1px solid var(--clr-amber-500);
    }

    .dev {
        background-color: var(--clr-sky-200);
        border: 1px solid var(--clr-sky-500);
    }
    
    .content {
        height: 100%;
        font-family: var(--ff-sans);
        font-size: var(--text-sm);
        color: var(--text-secondary);
        margin: 0;
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .card a {
        font-family: var(--ff-mono);
        font-size: var(--text-xs);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-decoration: none;
        color: var(--clr-black);
    }

    .logo {
        display: none;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .tag {
        font-size: var(--text-xs);
        font-family: var(--ff-sans);
        color: var(--clr-black);
        background-color: var(--clr-white);
        border: 1px solid var(--ui-border);
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
    }
</style>